@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --text-color: #474955;
  --search-bg-color: #5A5C66;
  --search-text-color: #B2B7BF;
  --light-text-color: #fff;
}

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
